@section Title {Home - Manager}

@model ManagerDashboardViewModel
@using DoorToDoorLibrary.DatabaseObjects

    <div class="main-content">
        <div class="container">
            <h2>Manager Dashboard</h2>
            <div id="dashboard-totals">
                    <h4 id="total-sales">Total Number of Sales: @Model.TotalSales</h4>
                    <h4 id="total-revenue">Total Revenue: @Model.TotalRevenue.ToString("C")</h4>
            </div>
            <div class="dashboard-lists">
                <div class="salesman-lists">
                    <div class="container">
                        <h5>Salesmen Rank by Quantity</h5>
                        <ul class="manager-dashboard-list">
                            <li class="dashboard-salesman-list">
                                <div class="dashboard-first-name">First Name</div>
                                <div class="dashboard-last-name">Last Name</div>
                                <div class="dashboard-rank-item">Sales Count</div>
                            </li>
                            @foreach (SalesmanSalesCountItem sale in Model.SalesmanRankByQuantity)
                            {
                                <li class="dashboard-salesman-list">
                                    <div class="dashboard-first-name">@sale.FirstName</div>
                                    <div class="dashboard-last-name">@sale.LastName</div>
                                    <div class="dashboard-rank-item">@sale.SalesCount</div>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="container">
                        <h5>Salesman Rank by Revenue</h5>
                        <ul class="manager-dashboard-list">
                            <li class="dashboard-salesman-list">
                                <div class="dashboard-first-name">First Name</div>
                                <div class="dashboard-last-name">Last Name</div>
                                <div class="dashboard-rank-item">Total Revenue</div>
                            </li>
                            @foreach (SalesmanRevenueItem sale in Model.SalesmanRankByRevenue)
                            {
                                <li class="dashboard-salesman-list">
                                    <div class="dashboard-first-name">@sale.FirstName</div>
                                    <div class="dashboard-last-name">@sale.LastName</div>
                                    <div class="dashboard-rank-item">@sale.TotalRevenue.ToString("C")</div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="houses-lists">
                    <div class="container">
                        <h5>House Rank by Quantity</h5>
                        <ul class="manager-dashboard-list">
                            <li class="dashboard-house-list">
                                <div class="dashboard-address">Address</div>
                                <div class="dashboard-rank-item">Sales Count</div>
                            </li>
                            @foreach (HouseSalesCountItem sale in Model.HouseRankByQuantity)
                            {
                                <li class="dashboard-house-list">
                                    <div class="dashboard-address">@sale.Street, @sale.City, @sale.District, @sale.Country</div>
                                    <div class="dashboard-rank-item">@sale.SalesCount</div>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="container">
                        <h5>House Rank by Revenue</h5>
                        <ul class="manager-dashboard-list">
                            <li class="dashboard-house-list">
                                <div class="dashboard-address">Address</div>
                                <div class="dashboard-rank-item">Total Revenue</div>
                            </li>
                            @foreach (HouseRevenueItem sale in Model.HouseRankByRevenue)
                            {
                                <li class="dashboard-house-list">
                                    <div class="dashboard-address">@sale.Street, @sale.City, @sale.District, @sale.Country</div>
                                    <div class="dashboard-rank-item">@sale.TotalRevenue.ToString("C")</div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>